* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-default: #60b5cf;
    --color-second: #013a63;
    --color-three: #4189e0;
    --color-four: #007bff;
    --color-hover: #4f728e;
    --color-white: #fff;
    --color-body: #e4e9f7;
    --color-light: #e0e0e0;
}

body {
    font-family: open-sans;
    text-color: white;
}

.artikel {
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
    width: 240px;
    height: 100px;
    margin-bottom: 20px;
    font-weight: bold;
    padding: 20px;
}

section {
    margin: 10px 0px 10px;
}

.text {
    margin-top: 15px;
    font-size: 45px;
}

.radioList {
    cursor: pointer;
}

.radioList a {
    display: inline-flex;
    align-items: center;
    padding: 5px;
    gap: 10px;
    border-radius: 31px;
}

.radioList a:before {
    content: "";
    width: 18px;
    height: 18px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    transition: all 0.25s ease-in-out;
}

input[type="radio"]:checked + .radioList a:before {
    box-shadow: inset 0 0 0 5px #4189e0;
}

input[type="radio"]:checked a {
    color: #4189e0;
    font-weight: bold;
}

.upload-image {
    margin-top: 60px;
}

/* .content-upload {
    width: 50%;
    height: 35px;
    background-color: #824d74;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bolder;
    border-radius: 10px;
    gap: 10px;
    cursor: pointer;
}

.text-header-tanya {
    position: relative;
}

.text-header-tanya-upload-image {
    position: relative;
    top: -20px;
}

.upload-image .text-upload {
    font-size: 15px;
    margin-right: 3px;
}

.upload-image .optional {
    position: absolute;
    top: 0;
    font-size: 11px;
}

.custom-file-upload {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.upload-icon {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 240px;
}

.upload-icon img {
    max-width: 240px;
    max-height: 80px;
}

.text-image {
    color: red;
    font-size: 15px;
    font-weight: bolder;
} */
/* .upload-icon {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
} */
.upload-icon img {
    max-width: 300px;
    max-height: 350px;
}
.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    display: none;
    /* semakin tinngi z-index nya agar content lain tidak bisa di click (tembus) */
}

.popup {
    border: 1px solid red;
}

.popup .content-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    background: white;
    max-width: 100%;
    width: 50%;
    height: 50%;
    z-index: 9999;
    transform: translate(-50%, -50%) scale(0);
    /* scale 0 buat hilangin content nya */
    /* semakin tinngi z-index nya agar content lain tidak bisa di click (tembus) */
}

.popup .btn-close {
    position: absolute;
    right: 20px;
    top: 10px;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 25px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup.active .overlay {
    display: block;
    /* kalo ga pake ini overlay nya ga muncul */
}

.popup.active .content-popup {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
    /* scale 1 buat munculin content nya */
}

.popup .content-popup {
    border-radius: 20px;
    overflow: hidden;
}

.sidebar-beranda {
    min-height: 110vh;
    width: 250px;
    z-index: 99;
    background-color: var(--color-second);
    transition: all 0.5s ease;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar-beranda.open {
    width: 78px;
}

.sidebar-beranda .logo_details {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 8px;
}

.sidebar-beranda .logo_details img {
    width: 130px;
}

.sidebar-beranda.open .logo_details {
    padding-right: 10px;
}

.sidebar-beranda.open .logo_details img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
}

.sidebar-beranda i {
    color: var(--color-white);
    height: 60px;
    line-height: 60px;
    min-width: 50px;
    font-size: 25px;
    text-align: center;
}

.sidebar-beranda .nav-list {
    margin-top: 20px;
    height: 100%;
    padding: 6px 14px;
}

.sidebar-beranda .menu-murid {
    position: relative;
    margin: 20px 0;
}

.sidebar-beranda .menu-murid .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background-color: var(--color-white);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 14px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
}

.sidebar-beranda.open .menu-murid:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar-beranda .menu-murid a {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    text-decoration: none;
    background-color: var(--color-second);
    position: relative;
    transition: all 0.5s ease;
    z-index: 12;
}

.sidebar-beranda .menu-murid a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    background-color: var(--color-white);
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    transform-origin: left;
    /* animasi list */
    z-index: -2;
}

.sidebar-beranda .menu-murid a:hover::after {
    transform: scaleX(1);
    color: var(--color-second);
}

.sidebar-beranda .menu-murid a .link_name,
.sidebar-beranda .menu-murid .text_name {
    color: var(--color-white);
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    pointer-events: auto;
    transition: all 0.4s ease;
    pointer-events: none;
    opacity: 1;
    font-weight: bold;
}

.sidebar-beranda .text_name {
    color: whitesmoke;
    font-weight: bolder;
    transition: all 0.5s ease;
}

.sidebar-beranda.open .text_name {
    margin-left: 10px;
    color: whitesmoke;
    font-weight: bolder;
}

.sidebar-beranda .menu-murid a:hover .link_name,
.sidebar-beranda .menu-murid a:hover i {
    transition: all 0.5s ease;
    color: var(--color-second);
}

.sidebar-beranda.open .menu-murid a .link_name {
    opacity: 0;
    pointer-events: auto;
}

.sidebar-beranda .menu-murid i {
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    border-radius: 5px;
}

.sidebar-beranda .hideSidebar {
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
    position: fixed;
    bottom: 40px;
}

.sidebar-beranda.open li.hideSidebar {
    display: flex;
    justify-content: center;
}

.hideSidebar span {
    opacity: 1;
    transition: all 0.5s ease;
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
}

.sidebar-beranda.open .hideSidebar span {
    opacity: 0;
}

.sidebar-beranda .hideSidebar #log_out {
    transition: all 0.5s ease;
}

.sidebar-beranda.open li.hideSidebar {
    display: flex;
    justify-content: center;
}

.sidebar-beranda .menu-murid.active a {
    background-color: white;
    border-radius: 5px;
}

.sidebar-beranda .menu-murid.active i,
.sidebar-beranda .menu-murid.active span {
    color: var(--color-second);
}

.home-beranda {
    position: absolute;
    top: 0px;
    left: 250px;
    width: calc(100% - 250px);
    transition: all 0.5s ease;
    z-index: 2;
}

.sidebar-beranda.open ~ .home-beranda {
    left: 78px;
    width: calc(100% - 78px);
}

.home-beranda .content-beranda {
    margin: 120px 30px;
}

.home-beranda .navbar-beranda {
    width: 100%;
    height: 80px;
    background-color: #fff;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
}

.navbar-beranda header {
    font-size: 20px;
    color: var(--color-second);
    font-weight: bold;
}

.information-account {
    display: flex;
    align-items: center;
    gap: 10px;
}

.content-profil {
    display: flex;
    align-items: center;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--color-second);
    width: 220px;
    border-radius: 20px;
    padding: 6px 10px;
    cursor: pointer;
}

.profile .information-profile {
    display: flex;
    flex-direction: column;
}

.profile .information-profile .name {
    font-size: 12px;
    color: whitesmoke;
    font-weight: bold;
    line-height: 25px;
}

.profile i {
    font-size: 15px;
    color: whitesmoke;
    font-weight: bold;
}

.profile .information-profile .class {
    font-size: 11px;
    color: whitesmoke;
    font-weight: bold;
}

input[type="radio"]:checked + .historyTanya {
    color: red;
    border-bottom: 2px solid red;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.pagination a,
.pagination .disabled,
.pagination .active {
    margin: 0 3px;
    text-decoration: none;
    border: none;
    color: #007bff;
    border-radius: 50%;
}

.pagination a:hover {
    background-color: #007bff;
    color: white;
}

.pagination .active {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border-radius: 50%;
}

.test a {
    padding: 5px 10px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + .checked-timeline {
    color: red;
    border-bottom: 2px solid red;
}

.home-beranda .content {
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.sidebar-beranda-phone {
    width: 60%;
    left: -100%;
    top: 0;
    z-index: 999;
    position: fixed;
    transition: left 0.3s ease;
}

.overlay-sidebar-phone {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    display: none;
    /* transition: opacity 0.3s ease; Tambahkan transisi opacity */
}

.content-sidebar-phone {
    height: 100vh;
    background-color: #fff;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.sidebar-beranda-phone .content-sidebar-phone {
    overflow-y: auto;
}

.sidebar-beranda-phone.active {
    left: 0;
}

.sidebar-beranda-phone.active .overlay-sidebar-phone {
    display: block;
    z-index: -2;
}

#slider {
    margin: 0 auto;
    width: 450px;
    height: max;
    max-width: 100%;
    text-align: center;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
    position: relative;
}

#overflow {
    width: 100%;
    overflow: hidden;
}
#slide1:checked ~ #slides .inner {
    margin-left: 0;
}
#slide2:checked ~ #slides .inner {
    margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
    margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
    margin-left: -300%;
}
#slides .inner {
    transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
    width: 400%;
    line-height: 0;
    height: 200px;
}
#slides .slide {
    width: 25%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#slides .slide_1,
#slides .slide_2,
#slides .slide_3,
#slides .slide_4 {
    background: white;
}

#controls {
    width: 100%;
    height: 50px;
    z-index: 3;
    position: absolute;
    top: 30%;
}
#controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: 0.4;
}
#controls label:hover {
    opacity: 1;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4) {
    /* #slide4:checked ~ #controls label:nth-child(1)  */
    position: absolute;
    right: 0;
    top: 50%;
    display: block;
    margin: 0;
    cursor: pointer;
    padding-right: 20px; /* Ruang untuk ikon */
}

#slide1:checked ~ #controls label:nth-child(2)::before,
#slide2:checked ~ #controls label:nth-child(3)::before,
#slide3:checked ~ #controls label:nth-child(4)::before {
    /* #slide4:checked ~ #controls label:nth-child(1)::before  */
    content: "\f054"; /* Font Awesome Chevron Right */
    font-family: "Font Awesome 5 Free"; /* Pastikan font family Font Awesome digunakan */
    font-weight: 900; /* Gunakan gaya bold untuk memastikan ikon tampil */
    position: absolute;
    display: block;
    right: 0; /* Posisikan ikon di sebelah kanan */
    top: 0;
    left: 0;
    transform: translateY(-50%); /* Vertikal center */
    font-size: 24px; /* Ukuran ikon */
}

/* #slide1:checked ~ #controls label:nth-last-child(2), */
#slide2:checked ~ #controls label:nth-last-child(4),
#slide3:checked ~ #controls label:nth-last-child(3),
#slide4:checked ~ #controls label:nth-last-child(2) {
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    cursor: pointer;
    margin: 0;
}

/* #slide1:checked ~ #controls label:nth-last-child(2)::before, */
#slide2:checked ~ #controls label:nth-last-child(4)::before,
#slide3:checked ~ #controls label:nth-last-child(3)::before,
#slide4:checked ~ #controls label:nth-last-child(2)::before {
    content: "\f053"; /* Font Awesome Chevron Left */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    right: 0;
    left: 0; /* Posisikan ikon di sebelah kiri */
    top: 0;
    transform: translateY(-50%);
    font-size: 24px;
}
/* #bullets {
    margin: 150px 0 0;
    text-align: center;
}
#bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #ccc;
    margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
    background: #444;
} */

.datetime {
    color: #824d74;
}

.date {
    text-align: center;
    font-size: 17px;
}

.time {
    font-size: 25px;
    font-weight: bolder;
}

.time span:not(:last-child) {
    position: relative;
    margin: 0 -3px;
}

.time span:last-child {
    margin-top: 10px;
    padding: 0 1px;
}

// ACCORDION //
.container-accordion {
    position: absolute;
    width: 87%;
    left: 11%;
    top: 50%;
    border-radius: 7px;
}

.wrapper-content-accordion {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px 40px;
    margin-top: 20px;
    border-radius: 7px;
}

.wrapper-content-accordion-pengayaan {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 20px;
    margin-top: 20px;
    border-radius: 7px;
}

.toggleButton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border: none;
    /* buat ilangin border pada button */
    outline: none;
    cursor: pointer;
    padding: 15px 0;
    font-weight: bold;
}

.toggleButton-pengayaan {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border: none;
    /* buat ilangin border pada button */
    outline: none;
    cursor: pointer;
    padding: 15px 0;
}

.content-accordion {
    position: relative;
    text-align: justify;
    height: 0;
    overflow: hidden;
    transition: all 0.5s;
}

.wrapper-content-accordion1 {
    margin-top: 40px;
}

.wrapper-content-accordion-soal {
    margin-top: 20px;
}

.box-content-accordion {
    width: 100%;
    height: 90px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px 0 100px;
}

.box-content-accordion-modulSertifikat {
    width: 100%;
    height: 90px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px 0 100px;
}

.accordion-video-list {
    border: 1px solid grey;
    width: 100%;
    height: max;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 0 40px 0 100px;
}
.box-video-list {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    font-size: 13px;
    color: #0084e9;
    font-weight: bolder;
}

.bottom-title {
    font-size: 18px;
}

.button-link-materi,
.button-link-videoList,
.button-link-pengayaan {
    width: 135px;
    height: 30px;
    border: 1px solid var(--color-three);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    background: none;
    gap: 12px;
    color: var(--color-three);
    font-weight: bold;
}

.button-link-lock {
    width: 155px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    background: none;
    gap: 12px;
    color: var(--color-three);
    font-weight: bold;
}

.button-link-materi:hover,
.button-link-videoList:hover,
.button-link-pengayaan:hover {
    background: var(--color-three);
    color: whitesmoke;
    font-weight: bolder;
}

.modal-box {
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
}

/* buat nampilin ul dan ol yang ke hidden karena menggunakan daisy ui */
.ck-content ul {
    list-style-type: disc;
    /* Mengembalikan bullet list */
    margin-left: 0.5rem;
    padding-left: 0.5rem;
}

.ck-content ol {
    list-style-type: decimal;
    /* Mengembalikan numbered list */
    margin-left: 0.5rem;
    padding-left: 0.5rem;
}

.ck-content img {
    width: 100px;
    text-align: left !important; /* Menetapkan gambar ke kiri, jika ada aturan yang bertentangan */
    float: left !important;
}

.ckeditor {
    resize: none;
}

.pilihanSoal .option {
    display: flex;
    align-items: center;
    width: 80%;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 16px 15px;
    border-radius: 8px;
    padding: 0 10px;
    cursor: pointer;
}

.pilihanSoal .option-disabled-current {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 16px 15px;
    border-radius: 8px;
    padding: 0 10px;
}

.pilihanSoal .option-disabled-false {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 40px;
    margin: 0 16px 15px;
    border-radius: 8px;
    padding: 0 10px;
}

.pilihanSoal .option-disabled-true {
    display: flex;
    align-items: center;
    width: 80%;
    height: 40px;
    margin: 0 16px 15px;
    border-radius: 8px;
    padding: 0 10px;
}

input[type="radio"]:checked + .pilihanSoal .option {
    border: 1px solid #4189e0;
}

/* .ck-content {
    height: 120px;
} */

/* dropdown sidebar administrator */
/* Styling untuk sidebar */
.sidebar-beranda-administrator {
    width: 250px;
    background-color: #0d47a1;
    color: white;
    height: 100vh;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
}

.list-item {
    margin: 14px 8px;
}

.toggle-menu {
    display: flex;
    align-items: center;
    gap: 14px;
    position: relative;
    cursor: pointer;
}

.toggle-menu2 {
    display: flex;
    align-items: center;
    gap: 14px;
    position: relative;
    cursor: pointer;
    margin: 0 15px;
}

.toggle-menu i {
    font-size: 12px;
    transition: all 0.4s ease;
}

.toggle-menu span,
.toggle-menu a {
    font-size: 14px;
}

.menu-item {
    display: block;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.toggle-dropdown {
    display: block;
    padding: 8px 0px;
    color: white;
    cursor: pointer;
}

.content-dropdown,
.list-content-dropdown {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    font-size: 12px;
}

.content-dropdown a {
    display: flex;
    flex-direction: column;
    padding: 8px 15px;
    transition: all 0.4s ease;
    font-size: 13px;
}

.list-content-dropdown a {
    display: flex;
    flex-direction: column;
    padding: 8px 27px;
    transition: all 0.4s ease;
    font-size: 13px;
}

.content-dropdown a:hover {
    color: yellow;
}

/* open untuk dropdown utama */
.list-item.show .content-dropdown {
    max-height: 200px;
    opacity: 1;
}

/* open untuk dropdown sub menu */
.content-dropdown.show .list-content-dropdown {
    max-height: 200px;
    opacity: 1;
}

.list-item.show #rotate {
    transform: rotate(-180deg);
}

/* rotate untuk dropdown sub menu */
.content-dropdown.show #rotate2 {
    transform: rotate(-180deg);
}

/* Sembunyikan dropdown menu secara default */
.dropdown-menu-preview {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    left: -110px;
    width: 150px;
    height: max;
}

/* Gaya untuk menu item */
.dropdown-menu-preview .list-dropdown-preview {
    list-style-type: none;
    padding: 0 8px;
}

.dropdown-menu-preview .list-dropdown-preview li {
    padding: 5px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.dropdown-menu-preview .list-dropdown-preview li a {
    text-decoration: none;
    color: #333;
}

/* Hover effect */
.dropdown-menu-preview .list-dropdown-preview li:hover {
    background-color: #f1f1f1;
}

/* Styling untuk tabel secara keseluruhan */
.table-question {
    width: 100%;
    border-collapse: collapse; /* Menggabungkan border antara sel */
}

/* Styling untuk setiap sel dalam tabel (th dan td) */
.th-question {
    border: 2px solid #ddd; /* Menambahkan border ke setiap sel */
    padding: 8px; /* Memberikan ruang di dalam sel */
    text-align: center; /* Menyelaraskan teks di tengah */
}

.td-question {
    border: 2px solid #ddd; /* Menambahkan border ke setiap sel */
    padding: 8px; /* Memberikan ruang di dalam sel */
    text-align: justify; /* Menyelaraskan teks justify */
}

/* Styling untuk header */
.thead-question {
    background-color: #f2f2f2; /* Warna latar belakang untuk header */
    font-weight: bold; /* Membuat teks header lebih tebal */
}

/* Styling untuk baris yang memiliki status 'published' */
.td-question {
    color: white;
}

/* Styling untuk baris yang memiliki status 'unpublished' */
.td-question {
    color: black;
}

/* Styling untuk button */
.button-question {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

/* Styling untuk cell status */
.td-question span {
    font-size: 14px;
}

.list-item {
    list-style: none;
}

/* input radio (index) */
.serviceOption {
    position: relative;
    padding: 10px 10px;
    border-radius: 50px;
    cursor: pointer;
    transition: color 0.3s ease-out;
    overflow: hidden;
}

.serviceOption::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #60b5cf;
    transition: left 0.5s ease-out, right 0.5s ease-out;
    z-index: 0;
}

.icon-service {
    padding: 10px;
    background-color: #60b5cf;
    border-radius: 50%;
    color: white;
}

input[type="radio"]:checked + .serviceOption::before {
    left: 0;
    right: 0;
}

input[type="radio"]:checked + .serviceOption {
    color: white;
}

input[type="radio"]:checked + .serviceOption .icon-service {
    background-color: white;
    color: #60b5cf;
}

.title-service,
.icon-service {
    position: relative;
    z-index: 1; /* Supaya berada di atas animasi */
}

.logos {
    overflow: hidden;
    padding: 60px 0;
    background: white;
}

.logo-slide img {
    height: 50px;
}

.logo-slide {
    white-space: nowrap;
}

/* image slider with swiper js (about) */
.slider-container {
    width: 100%;
    max-width: 1000px;
    overflow: hidden;
    border: 1px solid blue;
}

.swiper-wrapper {
    height: 100%;
    margin-bottom: 25px;
}
.swiper {
    width: 100%;
    display: flex;
}
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.swiper-slide img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    bottom: 0%;
    color: #60b5cf;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
}
.swiper-pagination-bullet-active {
    background: #60b5cf;
}

.pagination-slider {
    position: absolute;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 100%;
}

.pagination-slider .swiper-button-next {
    left: 71% !important;
    transform: translateX(-100%) !important;
}

.pagination-slider .slider-arrow {
    position: absolute;
    top: 10px;
    background: #60b5cf;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    left: 30%;
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.pagination-slider .slider-arrow i {
    color: white;
}

.pagination-slider .slider-arrow::after {
    content: "";
}

.swiper-pagination {
    width: 100px !important;
    left: 50% !important;
    bottom: 14px !important;
}

.pagination-slider .swiper-pagination .swiper-pagination-bullet {
    background: #60b5cf;
    width: 12px;
    height: 12px;
}

.pagination-slider .swiper-pagination .swiper-pagination-bullet-active {
    background: #60b5cf;
    width: 12px;
    height: 12px;
}

/* styling video like youtube (english-zone-video) */
.video-controls,
.video-timer,
.options {
    display: flex;
    align-items: center;
    justify-content: center;
    /* css ini buat atur posisi semua yang ada di class nya */
}

.container-materi {
    max-width: 1000px;
    min-height: 535px;
    width: 100%;
    height: 100%;
    position: relative;
    background: #000;
    border-radius: 5px;
    overflow: hidden;
    /* buat hilangin list style type yang ada pada icon */
}

.container-materi.fullscreen {
    max-width: 100%;
    width: 100%;
}

.wrapper-video {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -15px;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: all 0.08s ease;
}

.container-materi.show-controls .wrapper-video {
    bottom: 0px;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.13s ease;
}

.wrapper-video:before {
    content: "";
    bottom: 0;
    width: 100%;
    z-index: -1;
    position: absolute;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7)), transparent;
    height: calc(100% + 35px);
}

.video-timeline {
    height: 7px;
    width: 100%;
    cursor: pointer;
}

.video-timeline .progress-area {
    height: 3px;
    position: relative;
    background: rgba(255, 255, 255, 0.6);
    /* buat bikin line lurus waktunya */
}

.progress-area span {
    position: absolute;
    left: 50%;
    top: -25px;
    font-size: 13px;
    color: #fff;
    transform: translateX(-50%);
    /* buat sesuain play time nya biar di atas line biru */
    /*sesuain line biru biar posisi nya sama kaya line abu" nya */
}

.progress-area .progress-bar {
    width: 0%;
    height: 100%;
    background: #2289ff;
    position: relative;
    /* buat bikin line sesuai dengan play time nya */
}

.progress-area .progress-bar:before {
    content: "";
    right: 0;
    top: 50%;
    height: 13px;
    width: 13px;
    background: inherit;
    position: absolute;
    border-radius: 50%;
    transform: translateY(-50%);
    /* buat bikin buletan biru nya */
}

.progress-area span,
.progress-area .progress-bar:before {
    display: none;
    /* buat hilangin buletan biru nya */
}

.video-timeline:hover .progress-area span,
.video-timeline:hover .progress-area .progress-bar:before {
    display: block;
    /* buat munculin buletan biru nya pada saat hover ke line nya */
}

.video-controls {
    padding: 5px 20px 10px;
}

.video-controls .options {
    width: 100%;
    /* buat semua group icons nya punya lebar 100% */
}

.video-controls .options:first-child {
    justify-content: flex-start;
    /* buat midahin class yang dipilih (bagian kiri) ke start (pojok kiri) */
}

.video-controls .options:last-child {
    justify-content: flex-end;
    /* buat midahin class yang dipilih (bagian kanan) ke end (pojok kanan) */
}

.options button {
    width: 40px;
    height: 40px;
    border: none;
    color: #fff;
    background: none;
    font-size: 19px;
    cursor: pointer;
}

.options button :where(i, span) {
    width: 100%;
    height: 100%;
    line-height: 40px;
    /* buat sesuain posisi icon class nya */
}

.options input {
    height: 4px;
    max-width: 75px;
}

.options .video-timer {
    font-size: 14px;
    color: #efefef;
    margin-left: 15px;
}

.video-timer .separator {
    font-size: 16px;
    margin: 0px 5px;
    font-family: "Open sans";
}

.playback-content {
    position: relative;
}

.playback-content .speed-options {
    position: absolute;
    background: #fff;
    bottom: 40px;
    left: -40px;
    list-style: none;
    width: 95px;
    border-radius: 4px;
    /* dari bawah sini buat bikin animasi hover speed options nya */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.13s ease;
}

.playback-content .speed-options.show {
    opacity: 1;
    pointer-events: auto;
    /* buat bikin animasi hover pada speed options nya */
}

.speed-options li {
    font-size: 14px;
    padding: 5px 0 5px 15px;
    cursor: pointer;
}

.speed-options li.active {
    color: #fff;
    background: #2289ff;
}

.container-materi .video {
    min-height: 535px;
    width: 100%;
    height: 100%;
}

/* ------------------------ styling POkOK BAHASAN ---------------- */
.wrapper-pokok-bahasan {
    position: relative;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.wrapper-pokok-bahasan header {
    font-size: 20px;
    color: black;
    font-weight: bold;
    margin: 20px 15px;
}

.wrapper-content-pembahasan li {
    list-style: none;
}

.wrapper-content-pembahasan a {
    text-decoration: none;
    color: black;
}

.pembahasan {
    width: 93%;
    cursor: pointer;
    height: 70px;
    margin-top: 30px;
    margin-left: 15px;
    padding-left: 13px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.line-pembahasan {
    width: 93%;
    height: 1px;
    background-color: #824d74;
    margin: 15px 15px;
}

.gambar-pembahasan {
    width: 80px;
    height: 45px;
    padding: 20px;
    margin-right: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #824d74;
}

.gambar-pembahasan i {
    color: #fff;
}

.listPokokBahasan .pembahasan:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

input[type="radio"]:checked + .listPokokBahasan .pembahasan {
    background-color: var(--color-default);
    color: white;
}
@media screen and (max-width: 900px) {
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(1),
    #slide1:checked ~ #controls label:nth-last-child(2),
    #slide2:checked ~ #controls label:nth-last-child(3),
    #slide3:checked ~ #controls label:nth-last-child(4),
    #slide4:checked ~ #controls label:nth-last-child(1) {
        margin: 0;
    }
    #slides {
        max-width: calc(100% - 140px);
        margin: 0 auto;
    }
}

/* Media Screen */
/* Media Screen sidebar */
@media screen and (max-width: 768px) {
    .home-beranda {
        left: 0px;
        width: 100%;
    }
    .content .navbar-beranda {
        display: none;
    }

    .home-beranda .content {
        width: 100%;
        height: 80px;
        background-color: #fff;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px;
    }

    .navbar-phone .menu-murid a {
        padding: 15px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 8px;
    }
    .navbar-phone .menu-murid:hover {
        background-color: var(--color-second);
        color: white;
    }

    .menu-murid.active a {
        background-color: var(--color-second);
        color: whitesmoke;
    }

    .sidebar-beranda.open ~ .home-beranda {
        width: 100%;
        /* display: flex;
        justify-content: center; */
        border: 1px solid grey;
        margin-top: 78px;
        left: 0;
    }

    .sidebar-beranda.open ~ .home-beranda .content {
        display: none;
    }
}

/* Media Screen arrow pagination (about) */
@media (max-width: 1277px) {
    .pagination-slider .swiper-button-next {
        left: 75% !important;
        transform: translateX(-70%) !important;
    }
    .pagination-slider .swiper-button-prev {
        left: 31% !important;
        transform: translateX(-70%) !important;
    }
}

@media (max-width: 891px) {
    .pagination-slider .swiper-button-next {
        left: 85% !important;
        transform: translateX(-70%) !important;
        width: 2.5rem;
        height: 2.5rem;
        top: 15px;
    }
    .pagination-slider .swiper-button-prev {
        left: 23% !important;
        transform: translateX(-70%) !important;
        width: 2.5rem;
        height: 2.5rem;
        top: 15px;
    }
}

@media (max-width: 762px) {
    .pagination-slider .swiper-button-next {
        left: 75% !important;
        transform: translateX(-80%) !important;
    }
    .pagination-slider .swiper-button-prev {
        left: 27% !important;
        transform: translateX(-20%) !important;
    }
}
